:root{
    --fundo: #D8BFD8;
    --cartão-frente: 	#FFFFF0;
    --cartão-verso: #FFFFF0;
    --destaque: #6A5ACD;
    --preto: 	#000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--cartão-frente)
    );
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center
}

#container{
 padding: 4rem;
 
}