:root{
    --fundo: #D8BFD8;
    --cart達o-frente: 	#FFFFF0;
    --cart達o-verso: #FFFFF0;
    --destaque: #6A5ACD;
    --preto: 	#000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--cart達o-frente)
    );
    position: fixed;
    bottom: 0;
    color: var(--cart達o-frente)
    width: 100%;
    text-align: center
}